/* Search --------------- */

.title-block__search {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 60px;

  padding: 0 20px;

  width: 500px;
  height: 64px;
  border-radius: 15px;
  background-color: #283036;

  transition: border-bottom 0.01s ease;
  transition: border-radius 0.3s ease;
}

.title-block__search_radius {
  border-radius: 15px 15px 0px 0px;
  border-bottom: solid 0.5px #3f3f3f;
}
.search-block {
  display: flex;
}

.list-suggestions {
  visibility: hidden;
  /* margin-top: -2px; */

  background-color: #283036;
  border-radius: 0px 0px 10px 10px;
  padding: 5px 0px 5px 50px;
  width: 500px;
  font-size: 17px;
  opacity: 0;

  transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.list-suggestions_show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0s 0s;
}

.suggestions-item {
  margin-top: 5px;
  cursor: pointer;
}

.suggestions-item a {
  transition: all 0.2s ease;
  opacity: 0.7;
}

.suggestions-item a:hover {
  color: #ff6e30;
}
.title-block__search input::placeholder {
  color: #fff;
  opacity: 0.3;
}

.title-block__search input {
  width: 300px;

  padding-left: 30px;
  background: url(../../../public/svg/search.svg) no-repeat left center;
  background-size: 24px;
}

.btn_search {
  padding: 0 36px;
}
